In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("IRIS.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df.describe(include='object')

            species
count           150
unique            3
top     Iris-setosa
freq             50

In [6]:
num_columns=[col for col in df.columns if(df[col].dtype=="float" or df[col].dtype=="int")]

In [7]:
num_columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [8]:
number=df._get_numeric_data()

In [9]:
number

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### Mean

In [10]:
for i in num_columns:
    print(i ," :", df[i].mean())

sepal_length  : 5.843333333333335
sepal_width  : 3.0540000000000007
petal_length  : 3.7586666666666693
petal_width  : 1.1986666666666672

In [11]:
for i in num_columns:
    Sum=0
    for j in range(150):
        Sum+=df[i][j]
    print(i ," :",Sum/150)

sepal_length  : 5.843333333333335
sepal_width  : 3.0540000000000007
petal_length  : 3.7586666666666693
petal_width  : 1.1986666666666672

### Median

In [12]:
for i in num_columns:
    print(i ," :", df[i].median())

sepal_length  : 5.8
sepal_width  : 3.0
petal_length  : 4.35
petal_width  : 1.3

In [13]:
print(list(df['sepal_length']))

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

In [14]:
for i in num_columns:
    sorted_list=sorted(list(df[i]))
    print(i," :", sorted_list[len(sorted_list)//2])

sepal_length  : 5.8
sepal_width  : 3.0
petal_length  : 4.4
petal_width  : 1.3

### Mode

In [15]:
df.mode().values[0]

array([5.0, 3.0, 1.5, 0.2, 'Iris-setosa'], dtype=object)

In [16]:
x=0
for i in df.columns:
    L=list(df[i])
    Set=set(df[i])
    for j in Set:
        y=L.count(j)
        if(x<y):
            x=y
            m=j
    print(i , " :",j)

sepal_length  : 7.7
sepal_width  : 2.4
petal_length  : 3.9
petal_width  : 2.4
species  : Iris-virginica

### Percentile

In [17]:
for i in num_columns:
    tile=np.percentile(df[i], 25)
    print(i, "25 tile : " ,tile)
    tile=np.percentile(df[i], 50)
    print(i, "50 tile : " ,tile)
    tile=np.percentile(df[i], 75)
    print(i, "75 tile : " ,tile)

sepal_length 25 tile :  5.1
sepal_length 50 tile :  5.8
sepal_length 75 tile :  6.4
sepal_width 25 tile :  2.8
sepal_width 50 tile :  3.0
sepal_width 75 tile :  3.3
petal_length 25 tile :  1.6
petal_length 50 tile :  4.35
petal_length 75 tile :  5.1
petal_width 25 tile :  0.3
petal_width 50 tile :  1.3
petal_width 75 tile :  1.8

### Varience

In [18]:
for i in num_columns:
    varience=np.var(df[i])
    print(i, " : ",varience)

sepal_length  :  0.6811222222222222
sepal_width  :  0.1867506666666667
petal_length  :  3.0924248888888854
petal_width  :  0.5785315555555559

### Standard Deviation

In [19]:
df.std()

C:\Users\heman\AppData\Local\Temp\ipykernel_20432\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [20]:
for i in num_columns:
    std_dev=np.std(df[i])
    print(i," : ",std_dev)

sepal_length  :  0.8253012917851409
sepal_width  :  0.4321465800705435
petal_length  :  1.7585291834055201
petal_width  :  0.760612618588172

In [21]:
std_dev=np.std(df, axis=0)

C:\Users\heman\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [22]:
std_dev

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

### Grouping

In [23]:
iris_groupby = df.groupby(by='species')

In [24]:
iris_groupby.std()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650

In [25]:
iris_groupby.mean()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [26]:
iris_groupby.median()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

In [27]:
iris_groupby.min()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               4.3          2.3           1.0          0.1
Iris-versicolor           4.9          2.0           3.0          1.0
Iris-virginica            4.9          2.2           4.5          1.4

In [28]:
iris_groupby.max()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.8          4.4           1.9          0.6
Iris-versicolor           7.0          3.4           5.1          1.8
Iris-virginica            7.9          3.8           6.9          2.5