In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("IRIS.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
num_columns=[col for col in df.columns if(df[col].dtype=="float" or df[col].dtype=="int")]

In [13]:
num_columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [34]:
number=df._get_numeric_data()

In [35]:
number

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### Mean

In [22]:
for i in num_columns:
    print(i ," :", df[i].mean())

sepal_length  : 5.843333333333334
sepal_width  : 3.0540000000000003
petal_length  : 3.758666666666666
petal_width  : 1.1986666666666668

In [21]:
for i in num_columns:
    Sum=0
    for j in range(150):
        Sum+=df[i][j]
    print(i ," :",Sum/150)

sepal_length  : 5.843333333333335
sepal_width  : 3.0540000000000007
petal_length  : 3.7586666666666693
petal_width  : 1.1986666666666672

### Median

In [23]:
for i in num_columns:
    print(i ," :", df[i].median())

sepal_length  : 5.8
sepal_width  : 3.0
petal_length  : 4.35
petal_width  : 1.3

In [29]:
print(list(df['sepal_length']))

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

In [31]:
for i in num_columns:
    sorted_list=sorted(list(df[i]))
    print(i," :", sorted_list[len(sorted_list)//2])

sepal_length  : 5.8
sepal_width  : 3.0
petal_length  : 4.4
petal_width  : 1.3

### Mode

In [40]:
df.mode().values[0]

array([5.0, 3.0, 1.5, 0.2, 'Iris-setosa'], dtype=object)

In [58]:
x=0
for i in df.columns:
    L=list(df[i])
    Set=set(df[i])
    for j in Set:
        y=L.count(j)
        if(x<y):
            x=y
            m=j
    print(i , " :",j)

sepal_length  : 7.7
sepal_width  : 2.4
petal_length  : 3.9
petal_width  : 2.4
species  : Iris-setosa

### Percentile

In [61]:
for i in num_columns:
    tile=np.percentile(df[i], 25)
    print(i, "25 tile : " ,tile)
    tile=np.percentile(df[i], 50)
    print(i, "50 tile : " ,tile)
    tile=np.percentile(df[i], 75)
    print(i, "75 tile : " ,tile)

sepal_length 25 tile :  5.1
sepal_length 50 tile :  5.8
sepal_length 75 tile :  6.4
sepal_width 25 tile :  2.8
sepal_width 50 tile :  3.0
sepal_width 75 tile :  3.3
petal_length 25 tile :  1.6
petal_length 50 tile :  4.35
petal_length 75 tile :  5.1
petal_width 25 tile :  0.3
petal_width 50 tile :  1.3
petal_width 75 tile :  1.8

### Varience

In [62]:
for i in num_columns:
    varience=np.var(df[i])
    print(i, " : ",varience)

sepal_length  :  0.6811222222222223
sepal_width  :  0.18675066666666668
petal_length  :  3.092424888888889
petal_width  :  0.5785315555555555

### Standard Deviation

In [64]:
df.std()

/tmp/ipykernel_8994/3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [63]:
for i in num_columns:
    std_dev=np.std(df[i])
    print(i," : ",std_dev)

sepal_length  :  0.8253012917851409
sepal_width  :  0.4321465800705435
petal_length  :  1.7585291834055212
petal_width  :  0.7606126185881716

In [68]:
std_dev=np.std(df, axis=0)

In [66]:
std_dev

0      1.887459
1      1.764051
2      1.729884
3      1.656050
4      1.867485
         ...
145    1.750714
146    1.797742
147    1.772533
148    1.551411
149    1.631717
Length: 150, dtype: float64